Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

remove broken ESModule constant exports
  constants/ESModules/dataKeys.js
  constants/ESModules/databaseSchema.js
  constants/ESModules/endpointRoutes.js
  constants/ESModules/index.js
Due: prettier --write, eslint --cache --fix

create seperate .env files for client/server
  .dockerignore
  .gitignore
  .husky/pre-push
  client/.env.sample
  client/Dockerfile
  client/constants/dataKeys.js
  client/constants/databaseSchema.js
  client/constants/endpointRoutes.js
  client/constants/index.js
  client/src/config/constants.js
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  constants/index.js
  docker-compose.yml
  server/.env.sample
  server/config/config.js
  server/config/constants.js
  server/constants/dataKeys.js
  server/constants/databaseSchema.js
  server/constants/endpointRoutes.js
  server/constants/index.js
Due: prettier --write, eslint --cache --fix

handle .env file in EC2 deployment
  .dockerignore
  .github/workflows/deploy.yml
Due: none

fix config setup for client
  .env.sample
  client/.env.sample
  client/constants/dataKeys.js
  client/constants/databaseSchema.js
  client/constants/endpointRoutes.js
  client/constants/index.js
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  docker-compose.yml
  server/config/config.js
Due: prettier --write, eslint --cache --fix

runnable docker container with env variables
  .github/workflows/deploy.yml
  client/Dockerfile
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  docker-compose.yml
  server/Dockerfile
Due: prettier --write, eslint --cache --fix

update development start script instructions
  README.md
Due: prettier --write

remove docker hub prerequisite
  README.md
Due: prettier --write

remove all references to DockerHub
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

ignore coverage folders properly
  .gitignore
Due: none

fix workflow secret interpolation
  .github/workflows/test.yml
Due: none

make secret values strings
  .github/workflows/branch_check.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

do with passing down workflow secrets
  .github/workflows/branch_check.yml
  .github/workflows/main.yml
Due: none

use workflow inputs
  .github/workflows/test.yml
Due: none

reference secrets for sub folder names
  .github/workflows/branch_check.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

interpolate secret string
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
Due: none

interpolate secret string
  .github/workflows/test.yml
Due: none

combine seperate jest test configs
  .eslintignore
  .eslintrc
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .prettierrc
  babel.config.js
  client/.babelrc
  client/.eslintrc
  client/babel.config.js
  client/jest.config.js
  client/package.json
  jest.config.js
  package-lock.json
  package.json
  resources/development/CD-CI_packages.sh
  server/.eslintignore
  server/.prettierrc
  server/jest.config.js
Due: prettier --write, eslint --cache --fix

remove unused packages in client/server
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: prettier --write

add build command to main package.json
  package.json
Due: prettier --write

update development instructions
  README.md
Due: prettier --write

add packages for CI/CD pipeline
  package-lock.json
  package.json
Due: prettier --write

use working directory for client build workflow
  .github/workflows/build.yml
Due: none

use working directory for client build workflow
  .github/workflows/test.yml
Due: none

copy package.lock in Dockerfiles
  .github/workflows/test.yml
  client/Dockerfile
  server/Dockerfile
Due: none

fix package copy in Dockerfile
  .github/workflows/branch_check.yml
  client/Dockerfile
  server/Dockerfile
Due: none

DELETE old Dockerfiles
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
Due: none

WORKING Docker container locally
  client/Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/database.js
Due: prettier --write, eslint --cache --fix

add install step to build workflow
  .github/workflows/build.yml
Due: none

revert to complete workflow steps
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

fix failing npm test
  server/src/database.js
Due: prettier --write, eslint --cache --fix

revert husky pre-push to single test script
  .husky/pre-push
Due: none

polish set up instructions
  README.md
Due: prettier --write

polish REAMDE setup instructions
  README.md
Due: prettier --write

add extra deploy step to branch check
  .github/workflows/branch_check.yml
Due: none

use docker compose down on EC2 deployment
  .github/workflows/deploy.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
