Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

clean up branch/production main workflows
  .github/workflows/branch.yml
  .github/workflows/production.yml
Due: none

rename code_analysis yml file
  .github/workflows/code-analysis.yml
  .github/workflows/continuous_integration.yml
Due: none

refactor Docker workflow with CACHING
  .github/workflows/deploy.yml
Due: none

code coverage upload
  .github/workflows/node_ci.yml
Due: none

fix broken multi depth workflow ccalls
  .github/workflows/branch.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/production.yml
Due: none

fix yml typos
  .github/workflows/code-analysis.yml
  .github/workflows/deploy.yml
Due: none

create codecov
  .github/workflows/code-analysis.yml
  codecov.yml
Due: none

refactor with caching
  .github/workflows/code-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

docker ci caching
  .github/workflows/docker_ci.yml
Due: none

yml typo
  .github/workflows/docker_ci.yml
Due: none

fix readme badge error
  README.md
Due: prettier --write

fix code coverage artifact upload
  .github/workflows/node_ci.yml
Due: none

properly cash docker images
  .github/workflows/docker_ci.yml
Due: none

duplicate step ids
  .github/workflows/docker_ci.yml
Due: none

final touches to workflow files
  .github/workflows/node_ci.yml
Due: none

fix image caching attempt to build always
  .github/workflows/docker_ci.yml
Due: none

work on code query vulnerability
  .github/workflows/docker_ci.yml
  server/src/controllers/matches/index.js
  server/src/controllers/matches/randomUserFromZipPool/index.js
Due: prettier --write, eslint --cache --fix

fix query vulnerability
  .github/workflows/docker_ci.yml
  server/src/controllers/zipcodes/index.js
Due: prettier --write, eslint --cache --fix

add emojis to docker_ci workflow
  .github/workflows/docker_ci.yml
Due: none

tweak docker_ci workflow
  .github/workflows/docker_ci.yml
Due: none

use docker-compose to build
  .github/workflows/docker_ci.yml
Due: none

refactor CI actions (#50)
  .github/workflows/branch.yml
  .github/workflows/code-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  codecov.yml
  server/src/controllers/matches/index.js
  server/src/controllers/matches/randomUserFromZipPool/index.js
  server/src/controllers/zipcodes/index.js
Due: prettier --write, eslint --cache --fix

update production.yml
  .github/workflows/production.yml
Due: none

update repository secrets
  .github/workflows/docker_ci.yml
  resources/REPOSITORY_SECRETS.md
Due: prettier --write

fix GitHub Action (CI/CD) Vulnerabilities (#51)
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
  resources/REPOSITORY_SECRETS.md
Due: prettier --write

use correct secrets environment key for jobs
  .github/workflows/deploy.yml
  .github/workflows/production.yml
Due: none

yml typo
  .github/workflows/production.yml
Due: none

fix code analysis badge
  README.md
Due: prettier --write

combine deploy workflow into production action
  .github/workflows/deploy.yml
  .github/workflows/production.yml
Due: none

update production deploy workflows (#52)
  .github/workflows/deploy.yml
  .github/workflows/production.yml
  README.md
Due: prettier --write

complete merge conflict resolution
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
Due: none

yml typo
  .github/workflows/branch.yml
Due: none

yml typo
  .github/workflows/branch.yml
  .github/workflows/production.yml
Due: none

remove old coverage upload step
  .github/workflows/node_ci.yml
Due: none

use CodeCov upload (#53)
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

use valid action badge links
  .github/workflows/production.yml
  README.md
Due: prettier --write

add staging job to production workflow
  .github/workflows/production.yml
  resources/REPOSITORY_SECRETS.md
  resources/ec2_setup.sh
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
