Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

save articles to resources
  resources/development/GitHubActions_Deploy_Article.md
  resources/development/resources.txt
Due: prettier --write

write EC2 setup instructions
  .github/workflows/deploy.yml
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/EXAMPLE_SECRETS.md
  resources/development/EC2_setup.md
  resources/development/GitHubActions_Deploy_Article.md
  resources/development/ec2_setup.sh
Due: prettier --write

add instructions for broken Docker container
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

reference EC2 setup walkthrough file
  README.md
Due: prettier --write

update docker image scripts for EC2
  .github/workflows/branch_check.yml
  jsconfig.json
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

update .env docker image reference
  docker-compose.yml
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

test updated docker image build config
  .github/workflows/build.yml
  Dockerfile
  resources/development/refreshDockerContainer.sh
Due: none

ignore files to shrink docker image size
  .dockerignore
  resources/development/refreshDockerContainer.sh
Due: none

tweak docker compose folder volumes
  .github/workflows/branch_check.yml
  Dockerfile
  docker-compose.yml
Due: none

modify build workflow for testing
  .github/workflows/build.yml
Due: none

remove duplicate docker-compose command
  README.md
Due: prettier --write

fix missing manifest.json error
  client/public/static/manifest.json
  server/src/app.js
Due: prettier --write, eslint --cache --fix

work on modifying the env config for builds
  .dockerignore
  .github/workflows/build.yml
  jsconfig.json
  package.json
  resources/development/challenges.txt
  server/src/app.js
  webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

tweak webpack .env configs
  webpack.dev.config.js
  webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

use .env for production in action
  .github/workflows/build.yml
  resources/development/challenges.txt
Due: none

reference ENV_PRODUCTION repository secret in actions
  .github/workflows/build.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

include env in image
  .dockerignore
  docker-compose.yml
  jsconfig.json
Due: prettier --write

deploy dev docker image build
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

remove old trello link
  README.md
Due: prettier --write

document docker challenge
  resources/development/challenges.txt
Due: none

ignore .env files for docker images
  .dockerignore
Due: none

fix docker image config
  .dockerignore
  .github/workflows/build.yml
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  resources/development/challenges.txt
  resources/development/resources.txt
  webpack.dev.config.js
  webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

update docker compose instruction
  README.md
Due: prettier --write

fix react router with static files
  client/public/manifest.json
  resources/development/docker_commands.sh
  resources/development/ec2_setup.sh
  server/src/app.js
Due: prettier --write, eslint --cache --fix

check docker image in CD workflow
  .github/workflows/build.yml
Due: none

avoid static files return on /api requests
  server/src/app.js
  server/src/controllers/profile/getUserProfile/index.js
  server/src/utils/handleErrorResponse.js
  server/tests/profile.test.js
Due: prettier --write, eslint --cache --fix

node testing on ALL node versions
  .github/workflows/test.yml
Due: none

remove .env files from workflows
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

update EC2 setup commands
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/development/docker_commands.sh
  resources/development/ec2_setup.sh
  resources/development/ec2_startup.sh
Due: prettier --write

update run script in github actions
  .github/workflows/deploy.yml
Due: none

fix typo in test workflow
  .github/workflows/test.yml
Due: none

remove broken curl command in workflow CD
  .github/workflows/build.yml
Due: none

pass down secrects for EC2 deploy workflow
  .github/workflows/branch_check.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

create PR template
  .github/workflows/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

properly cache modules in workflow
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

rename npm cache in workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

new path for cached workflow node modules
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

pass down EC2 secrets in workflow
  .github/workflows/branch_check.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

workflow secrets reference typo
  .github/workflows/branch_check.yml
  .github/workflows/main.yml
Due: none

docker run command in deploy workflow
  .github/workflows/deploy.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
