Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

tweak docker internal host settings
  .github/workflows/end_to_end.yml
  .github/workflows/production.yml
Due: none

swtich mongo memoery version
  server/package-lock.json
  server/package.json
  server/src/database.js
Due: prettier --write, eslint --cache --fix

add docker install
  .github/workflows/end_to_end.yml
  server/tests/matches/queue.brokentest.js
Due: prettier --write, eslint --cache --fix

add docker install
  .github/workflows/end_to_end.yml
Due: none

fix broken integration tests in GitHub Actions
  .github/workflows/end_to_end.yml
  server/tests/matches/generate.xtest.js
  server/tests/matches/queue.xtest.js
  server/tests/matches/swipe.xtest.js
  server/tests/profile/details.xtest.js
  server/tests/profile/update.xtest.js
  server/tests/profile/user.xtest.js
Due: prettier --write, eslint --cache --fix

fix broken integration tests in GitHub Actions
  .github/workflows/end_to_end.yml
  .github/workflows/node_ci.yml
Due: none

tweak e2e testing workflow setup
  .github/workflows/end_to_end.yml
  __tests__/specs/e2e.test.js
Due: prettier --write, eslint --cache --fix

increase jest timeout for mongo loading
  server/config/jest.setup.js
  server/tests/matches/generate.test.js
  server/tests/matches/queue.test.js
  server/tests/matches/swipe.test.js
  server/tests/profile/details.test.js
  server/tests/profile/update.test.js
  server/tests/profile/user.test.js
Due: prettier --write, eslint --cache --fix

fix end-to-end install error w/ pupeterr
  .github/workflows/end_to_end.yml
Due: none

yml typo
  .github/workflows/end_to_end.yml
Due: none

modify puppeteer package
  .github/workflows/end_to_end.yml
  server/package-lock.json
  server/package.json
Due: prettier --write

modify puppeteer package
  .github/workflows/end_to_end.yml
Due: none

remove broken end-to-end tests
  .github/workflows/branch.yml
  .github/workflows/production.yml
Due: none

fix production workflow
  .github/workflows/production.yml
Due: none

fix production workflow (#85)
  .github/workflows/production.yml
Due: none

fix production workflow (#86)
  .github/workflows/production.yml
Due: none

test CORS change to production
  .github/workflows/productionTEMP.yml
  server/src/app.js
Due: prettier --write, eslint --cache --fix

also forward PORT 5000 for API
  .github/workflows/production.yml
  .github/workflows/productionTEMP.yml
Due: none

add proxy to package.josn
  client/package.json
Due: prettier --write

add CORS header to WEBPACK config
  .github/workflows/productionTEMP.yml
  client/package.json
  client/webpack.dev.config.js
  client/webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

fix yml typo in workflow
  .github/workflows/productionTEMP.yml
Due: none

remove CORS header from end-to-end testing webpack config
  client/package.json
  client/webpack.dev.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
