Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

restore ALL working production steps
  .github/workflows/production.yml
Due: none

add logo to signup form
  client/src/assets/WooferIcon.png
  client/src/assets/WooferLogo.png
  client/src/components/AccountForm/AccountForm.js
  client/src/components/ui/Navbar/Navbar.js
Due: prettier --write, eslint --cache --fix

fix Codacy analysis errors
  README.md
  resources/assets/ARN32338-DA_FORM_1380-001-EFILE-2.pdf
  resources/assets/MEPS_ORDERS_LEPINE_SPENCER.jpeg
  resources/assets/demo.gif
  resources/development/other/docker_client_run.sh
  resources/development/other/docker_env.sh
Due: prettier --write

fix Codacy analysis errors
  README.md
Due: prettier --write

fix Codacy analysis errors
  client/src/components/AccountForm/AccountForm.js
Due: prettier --write, eslint --cache --fix

Docker + Webpack Enviroment Variables (#61)
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  client/src/assets/WooferIcon.png
  client/src/assets/WooferLogo.png
  client/src/components/AccountForm/AccountForm.js
  client/src/components/ui/Navbar/Navbar.js
  resources/REPOSITORY_SECRETS.md
  resources/assets/ARN32338-DA_FORM_1380-001-EFILE-2.pdf
  resources/assets/MEPS_ORDERS_LEPINE_SPENCER.jpeg
  resources/assets/demo.gif
  resources/challenges.txt
  resources/development/other/docker_client_run.sh
  resources/development/other/docker_env.sh
Due: prettier --write, eslint --cache --fix

create profile page form with tabs
  README.md
  client/src/__mocks__/currentUser.js
  client/src/api/account/index.js
  client/src/components/AccountForm/AccountForm.js
  client/src/components/Profile/GeneralTab/Fields.js
  client/src/components/Profile/GeneralTab/GeneralTab.js
  client/src/components/Profile/Profile.js
  client/src/components/Profile/Tabs.js
  client/src/components/pages/ChatPage.js
  client/src/components/pages/HomePage.js
  client/src/components/pages/ProfilePage.js
  client/src/components/pages/index.js
  client/src/components/wrappers/Routes/Routes.js
  client/src/components/wrappers/ViewLayout/ViewLayout.js
  client/src/context/AuthContext/AuthContext.js
  client/src/index.js
  server/constants/dataKeys.js
Due: prettier --write, eslint --cache --fix

fix profile dropdown entry form
  client/src/components/Profile/GeneralTab/Fields.js
Due: prettier --write, eslint --cache --fix

refactor and fix profile settings page
  client/src/components/Profile/GeneralTab/GeneralFields.js
  client/src/components/Profile/GeneralTab/GeneralTab.js
  client/src/components/Profile/PreferenceTab/PreferenceFields.js
  client/src/components/Profile/PreferenceTab/PreferenceTab.js
  client/src/components/Profile/Profile.js
  client/src/components/ui/AccountFormWrapper.js
  client/src/context/AuthContext/AuthContext.js
  client/src/context/AuthContext/mockUser.js
Due: prettier --write, eslint --cache --fix

working ZipCode preferences with ZipCode pool
  client/constants/endpointRoutes.js
  client/src/api/zipcodes/index.js
  client/src/components/Profile/GeneralTab/GeneralFields.js
  client/src/components/Profile/GeneralTab/GeneralTab.js
  client/src/components/Profile/PreferenceTab/PreferenceFields.js
  client/src/components/Profile/PreferenceTab/PreferenceTab.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.js
  client/src/context/AuthContext/AuthContext.js
  server/constants/endpointRoutes.js
  server/src/controllers/zipcodes/index.js
Due: prettier --write, eslint --cache --fix

create profile images tab
  client/constants/databaseSchema.js
  client/src/api/firebase/index.js
  client/src/components/Profile/ImagesTab/ImagesTab.js
  client/src/components/Profile/Profile.js
  client/src/components/Swiper/Swiper.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.js
  package-lock.json
  package.json
  server/constants/databaseSchema.js
Due: prettier --write, eslint --cache --fix

write tests for Profile page components
  client/src/components/Profile/Profile.js
  client/src/components/Profile/Profile.test.js
  client/src/components/Profile/Tabs.js
  client/src/components/Profile/Tabs.test.js
  client/src/components/Swiper/Swiper.test.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.test.js
  client/src/context/AuthContext/AuthContext.js
Due: prettier --write, eslint --cache --fix

write tests for Account profile form component
  client/src/components/AccountForm/AccountForm.test.js
  client/src/components/pages/HomePage.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.test.js
Due: prettier --write, eslint --cache --fix

test sign up account form
  client/src/components/AccountForm/AccountForm.test.js
Due: prettier --write, eslint --cache --fix

improve test coverage for client
  client/src/__mocks__/firebaseMock.js
  client/src/api/firebase/firebase.test.js
  client/src/api/firebase/index.js
  client/src/api/zipcodes/zipcodes.test.js
  client/src/components/AccountForm/AccountForm.test.js
Due: prettier --write, eslint --cache --fix

test zipcode API helpers
  client/src/api/zipcodes/zipcodes.test.js
  client/src/components/SampleChat/SampleChat.test.js
  client/src/utils/test-utils.js
Due: prettier --write, eslint --cache --fix

test sample chat component
  client/src/components/SampleChat/SampleChat.test.js
Due: prettier --write, eslint --cache --fix

create test for ImagesTab component
  client/src/components/Profile/ImagesTab/ImagesTab.test.js
Due: prettier --write, eslint --cache --fix

fix server zipcode endpoint
  server/jest.config.js
  server/tests/zipcodes.test.js
Due: prettier --write, eslint --cache --fix

remove cache for docker-ci build
  .github/workflows/docker_ci.yml
Due: none

replace random string library
  client/src/api/firebase/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

remove broken npm cache for node CI
  .github/workflows/node_ci.yml
Due: none

remove broken unique string module
  client/src/api/firebase/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix deployment caching error
  .github/workflows/production.yml
Due: none

deploy cache error fix (#63)
  .github/workflows/production.yml
Due: none

remove quotes from env for production
  .github/workflows/production.yml
Due: none

tweak production env config
  .github/workflows/production.yml
  client/src/config/firebase.js
  client/src/context/AuthContext/AuthContext.js
Due: prettier --write, eslint --cache --fix

production env client error (#65)
  .github/workflows/production.yml
  client/src/config/firebase.js
  client/src/context/AuthContext/AuthContext.js
Due: prettier --write, eslint --cache --fix

remove old repository secret reference
  resources/REPOSITORY_SECRETS.md
Due: prettier --write

fix minor react component erros
  client/src/components/AccountForm/AccountForm.js
  client/src/components/Profile/Profile.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.js
  client/src/components/ui/Navbar/Navbar.js
  client/src/context/AuthContext/AuthContext.js
Due: prettier --write, eslint --cache --fix

bare bones Socket.io chat rooms
  client/src/components/SampleChat/Messages/Messages.js
  client/src/components/SampleChat/SampleChat.js
  client/src/components/pages/ChatListPage.js
  client/src/components/pages/index.js
  client/src/components/ui/MatchMadePopup/MatchMadePopup.js
  client/src/components/ui/Navbar/Navbar.js
  client/src/components/wrappers/Routes/Routes.js
  client/src/config/routeConstants.js
  server/src/chat.js
Due: prettier --write, eslint --cache --fix

fix signup error
  client/src/api/account/index.js
  client/src/components/SampleChat/SampleChat.js
  client/src/components/pages/SignupPage.js
  client/src/context/AuthContext/AuthContext.js
Due: prettier --write, eslint --cache --fix

pass username/id to message posts
  client/src/components/SampleChat/SampleChat.js
  server/src/chat.js
Due: prettier --write, eslint --cache --fix

reorganize components folder
  client/src/components/pages/ChatListPage.js
  client/src/components/pages/ChatListPage/ChatList/ChatList.js
  client/src/components/pages/ChatListPage/ChatListPage.js
  client/src/components/pages/ChatPage/ChatPage.js
  client/src/components/pages/ChatPage/SampleChat/MessageInput/MessageInput.js
  client/src/components/pages/ChatPage/SampleChat/Messages/ChatMessage.js
  client/src/components/pages/ChatPage/SampleChat/Messages/Messages.js
  client/src/components/pages/ChatPage/SampleChat/SampleChat.js
  client/src/components/pages/ChatPage/SampleChat/SampleChat.test.js
  client/src/components/pages/HomePage/HomePage.js
  client/src/components/pages/HomePage/Swiper/ImageCarousel/ImageCarousel.js
  client/src/components/pages/HomePage/Swiper/ImageCarousel/ImageCarousel.test.js
  client/src/components/pages/HomePage/Swiper/SwipeButtons/SwipeButtons.js
  client/src/components/pages/HomePage/Swiper/SwipeButtons/SwipeButtons.test.js
  client/src/components/pages/HomePage/Swiper/Swiper.js
  client/src/components/pages/HomePage/Swiper/Swiper.test.js
  client/src/components/pages/HomePage/Swiper/UserInfo/UserInfo.js
  client/src/components/pages/HomePage/Swiper/UserInfo/UserInfo.test.js
  client/src/components/pages/LoginPage/LoginPage.js
  client/src/components/pages/MissingPage/MissingPage.js
  client/src/components/pages/ProfilePage/Profile/GeneralTab/GeneralFields.js
  client/src/components/pages/ProfilePage/Profile/GeneralTab/GeneralTab.js
  client/src/components/pages/ProfilePage/Profile/ImagesTab/ImagesTab.js
  client/src/components/pages/ProfilePage/Profile/ImagesTab/ImagesTab.test.js
  client/src/components/pages/ProfilePage/Profile/PreferenceTab/PreferenceFields.js
  client/src/components/pages/ProfilePage/Profile/PreferenceTab/PreferenceTab.js
  client/src/components/pages/ProfilePage/Profile/Profile.js
  client/src/components/pages/ProfilePage/Profile/Profile.test.js
  client/src/components/pages/ProfilePage/Profile/Tabs.js
  client/src/components/pages/ProfilePage/Profile/Tabs.test.js
  client/src/components/pages/ProfilePage/ProfilePage.js
  client/src/components/pages/SignupPage/SignupPage.js
  client/src/components/pages/WelcomePage/WelcomePage.js
  client/src/components/pages/index.js
  client/src/components/ui/AccountForm/AccountForm.js
  client/src/components/ui/AccountForm/AccountForm.test.js
Due: prettier --write, eslint --cache --fix

reorganize components folder
  client/src/components/pages/LoginPage/LoginPage.js
  client/src/components/pages/SignupPage/SignupPage.js
Due: prettier --write, eslint --cache --fix

functional chat rooms for each user
  client/src/api/chats/index.js
  client/src/components/pages/ChatListPage/ChatList/ChatList.js
  client/src/components/pages/ChatPage/SampleChat/SampleChat.js
  client/src/context/ChatsContext/ChatsContext.js
  client/src/context/ChatsContext/ChatsContext.test.js
  server/src/controllers/chats/index.js
  server/src/controllers/controllerHelpers/chats/addChatIdToUserProfile.js
  server/src/controllers/controllerHelpers/chats/generateTwoUserChat.js
  server/src/controllers/matches/documentUserSwipeAccept/handleMutualAccept.js
  server/src/routes/chatRoutes/index.js
  server/src/routes/index.js
Due: prettier --write, eslint --cache --fix

refactor match generate endpoint controller
  client/src/components/pages/ChatListPage/ChatList/ChatList.js
  client/src/components/pages/ProfilePage/Profile/ImagesTab/ImagesTab.js
  client/src/context/ChatsContext/ChatsContext.test.js
  server/src/controllers/matches/index.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/fetchBothUserMatchRecords.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/fetchZipPoolUsers.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/index.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/pickRandomUserFromPool.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/validateUserMatchRecords.js
  server/src/controllers/matches/randomUserFromZipPool/helpers/validateUserPreferences.js
  server/src/controllers/matches/randomUserFromZipPool/index.js
  server/src/controllers/matches/randomUserFromZipPool/verifyUserMatchStatuses/index.js
  server/src/controllers/matches/randomUserFromZipPool/verifyUserMatchStatuses/verifyUserMatchStatuses.test.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
