Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,json,md}": [
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix",
  "*.{js,md}": "prettier --write"
}

test .git path for git clone deployment
  .github/workflows/branch_check.yml
  .github/workflows/deploy.yml
Due: none

test .git path for git clone deployment
  .github/workflows/deploy.yml
Due: none

docker compose down after changing directory
  .github/workflows/deploy.yml
Due: none

specify clone folder deletion name
  .github/workflows/deploy.yml
Due: none

add extended timeout to allow docker to build
  .github/workflows/deploy.yml
Due: none

revert branch check with no deploy
  .github/workflows/branch_check.yml
  .github/workflows/deploy.yml
Due: none

EC2 Deployment (#36)
  .github/workflows/deploy.yml
  README.md
Due: prettier --write

add SSH test step to deployment workflow
  .github/workflows/deploy.yml
Due: none

test SSH for deploy(#37)
  .github/workflows/deploy.yml
Due: none

remove docker compose on EC2 step
  .github/workflows/deploy.yml
Due: none

add socket.io to server
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/chat.js
Due: prettier --write, eslint --cache --fix

sample chat with socket.io in client
  client/package-lock.json
  client/package.json
  client/src/components/SampleChat/MessageInput.css
  client/src/components/SampleChat/MessageInput.js
  client/src/components/SampleChat/Messages.css
  client/src/components/SampleChat/Messages.js
  client/src/components/SampleChat/SampleChat.css
  client/src/components/SampleChat/SampleChat.js
  server/src/app.js
Due: prettier --write, eslint --cache --fix

render broken sample chat
  client/src/components/pages/HomePage.js
  server/package.json
  server/src/app.js
  server/src/chat.js
Due: prettier --write, eslint --cache --fix

working full stack socket.io integration
  client/src/components/SampleChat/MessageInput.js
  client/src/components/SampleChat/Messages.js
  server/src/app.js
  server/src/index.js
Due: prettier --write, eslint --cache --fix

install socket.io package
  server/package-lock.json
  server/package.json
Due: prettier --write

created simple chat box
  client/src/components/SampleChat/MessageInput.css
  client/src/components/SampleChat/MessageInput.js
  client/src/components/SampleChat/MessageInput/MessageInput.js
  client/src/components/SampleChat/Messages.css
  client/src/components/SampleChat/Messages/ChatMessage.js
  client/src/components/SampleChat/Messages/Messages.js
  client/src/components/SampleChat/SampleChat.css
  client/src/components/SampleChat/SampleChat.js
Due: prettier --write, eslint --cache --fix

docker unable to find socket.io package
  client/Dockerfile
  docker-compose.yml
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/index.js
Due: prettier --write, eslint --cache --fix

rename PR template file
  .github/workflows/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

socket.io integration (#38)
  .github/workflows/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy.yml
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/src/components/SampleChat/MessageInput/MessageInput.js
  client/src/components/SampleChat/Messages/ChatMessage.js
  client/src/components/SampleChat/Messages/Messages.js
  client/src/components/SampleChat/SampleChat.js
  client/src/components/pages/HomePage.js
  docker-compose.yml
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/app.js
  server/src/chat.js
  server/src/index.js
Due: prettier --write, eslint --cache --fix

delete unwanted resource files
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/EXAMPLE_SECRETS.md
  resources/WOOFER_API.md
  resources/development/CD-CI_packages.sh
  resources/development/EC2_Issues.md
  resources/development/GitHubActions_Deploy_Article.md
  resources/development/TODO_authentication.txt
  resources/development/alternate.docker-compose.yml
  resources/development/apiSchemaToMarkdown.js
  resources/development/challenges.txt
  resources/development/database_schema.txt
  resources/development/development_process.txt
  resources/development/resources.txt
  resources/development/server.docker-compose.yml
  resources/development/ubuntu_EC2_scripts/bootup_ec2.sh
  resources/development/ubuntu_EC2_scripts/dockerRefreshDev.sh
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  resources/development/ubuntu_EC2_scripts/setup_ec2.sh
  resources/development/user_stories.txt
  resources/images/ARN32338-DA_FORM_1380-001-EFILE-2.pdf
  resources/images/Database_Design.png
  resources/images/LOGO_bw_full_size.png
  resources/images/LOGO_color_full_size.png
  resources/images/LOGO_icon_color_full_size.png
  resources/images/LOGO_outline_fill_color_full_size.png
  resources/images/LOGO_wire_color_full_size.png
  resources/images/MEPS_ORDERS_LEPINE_SPENCER.jpeg
  resources/images/Project_Deployment.png
  resources/images/demo.gif
  resources/images/icon.xcf
  resources/wireframes/chat_list_page_wireframe.png
  resources/wireframes/chat_messenger_wireframe.png
  resources/wireframes/match_modal_wireframe.png
  resources/wireframes/navbar_wireframe.png
  resources/wireframes/profile_images_wireframe.png
  resources/wireframes/profile_page_wireframe.png
  resources/wireframes/profile_preferences_wireframe.png
  resources/wireframes/settings_page_wireframe.png
  resources/wireframes/swipe_page_wireframe.png
Due: prettier --write, eslint --cache --fix

delete PR template file
  .github/workflows/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

restore PR template file and rename
  .github/workflows/pull_request_template.md
Due: prettier --write

add development process resources
  resources/development/challenges.txt
  resources/development/database_schema.md
  resources/development/resources.md
Due: prettier --write

add wireframes to resources
  resources/wireframes/chat_list_page_wireframe.png
  resources/wireframes/chat_messenger_wireframe.png
  resources/wireframes/match_modal_wireframe.png
  resources/wireframes/navbar_wireframe.png
  resources/wireframes/profile_images_wireframe.png
  resources/wireframes/profile_page_wireframe.png
  resources/wireframes/profile_preferences_wireframe.png
  resources/wireframes/settings_page_wireframe.png
  resources/wireframes/swipe_page_wireframe.png
Due: none

add assets to resources
  resources/assets/ARN32338-DA_FORM_1380-001-EFILE-2.pdf
  resources/assets/Database_Design.png
  resources/assets/LOGO_bw_full_size.png
  resources/assets/LOGO_color_full_size.png
  resources/assets/LOGO_icon_color_full_size.png
  resources/assets/LOGO_outline_fill_color_full_size.png
  resources/assets/LOGO_wire_color_full_size.png
  resources/assets/MEPS_ORDERS_LEPINE_SPENCER.jpeg
  resources/assets/Project_Deployment.png
  resources/assets/demo.gif
  resources/assets/icon.xcf
Due: none

add REPO secrets template to resources
  resources/REPOSITORY_SECRETS.md
Due: prettier --write

add WOOFER API endpoint overview to resources
  resources/WOOFER_API.md
Due: prettier --write

add EC2 setup walkthrough to resources
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

clean up resources folder (#40)
  .github/workflows/pull_request_template.md
  resources/EXAMPLE_SECRETS.md
  resources/REPOSITORY_SECRETS.md
  resources/WOOFER_API.md
  resources/assets/ARN32338-DA_FORM_1380-001-EFILE-2.pdf
  resources/assets/Database_Design.png
  resources/assets/LOGO_bw_full_size.png
  resources/assets/LOGO_color_full_size.png
  resources/assets/LOGO_icon_color_full_size.png
  resources/assets/LOGO_outline_fill_color_full_size.png
  resources/assets/LOGO_wire_color_full_size.png
  resources/assets/MEPS_ORDERS_LEPINE_SPENCER.jpeg
  resources/assets/Project_Deployment.png
  resources/assets/demo.gif
  resources/assets/icon.xcf
  resources/development/CD-CI_packages.sh
  resources/development/EC2_Issues.md
  resources/development/GitHubActions_Deploy_Article.md
  resources/development/TODO_authentication.txt
  resources/development/alternate.docker-compose.yml
  resources/development/apiSchemaToMarkdown.js
  resources/development/challenges.txt
  resources/development/database_schema.md
  resources/development/development_process.txt
  resources/development/resources.md
  resources/development/resources.txt
  resources/development/server.docker-compose.yml
  resources/development/ubuntu_EC2_scripts/bootup_ec2.sh
  resources/development/ubuntu_EC2_scripts/dockerRefreshDev.sh
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  resources/development/ubuntu_EC2_scripts/setup_ec2.sh
  resources/development/user_stories.txt
Due: prettier --write, eslint --cache --fix

only use linting packages in root dir
  package-lock.json
  package.json
Due: prettier --write

seperate server/client testing for pre-push hook
  .husky/pre-push
Due: none

move config rc files to package.json
  .lintstagedrc
  .prettierrc
  babel.config.js
  jest.config.js
  package.json
Due: prettier --write, eslint --cache --fix

delete old eslint config file
  .env.sample
  .eslintignore
  .eslintrc
Due: none

revamp entire GitHub Actions CI/CD pipeline
  .github/pull_request_template.md
  .github/workflows/branch.yml
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/production.yml
  .github/workflows/reuasable_steps/deploy.yml
  .github/workflows/reuasable_steps/docker_ci.yml
  .github/workflows/reuasable_steps/node_ci.yml
  .github/workflows/test.yml
Due: prettier --write

refactor server to include jest testing config
  server/jest.config.js
  server/package-lock.json
  server/package.json
Due: prettier --write, eslint --cache --fix

clean up client dependencies
  client/package-lock.json
  client/package.json
Due: prettier --write

add jest testing config to client
  client/jest.config.js
Due: prettier --write, eslint --cache --fix

place all workflows in main folder
  .github/workflows/branch.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

create end-to-end test folder for CI/CD
  .github/workflows/docker_ci.yml
  __tests__/jest-puppeteer.config.js
  __tests__/jest.config.js
  __tests__/package-lock.json
  __tests__/package.json
  __tests__/specs/e2e.test.js
  resources/development/resources.md
Due: prettier --write, eslint --cache --fix

edit working-directory in workflow steps
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none
