Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

yml typo
  .github/workflows/branch.yml
Due: none

yml typo
  .github/workflows/deploy.yml
Due: none

remove node cache broken
  .github/workflows/docker_ci.yml
Due: none

add auth rate limiter
  server/src/app.js
Due: prettier --write, eslint --cache --fix

query sanitation vulnerability
  server/src/controllers/zipcodes/index.js
Due: prettier --write, eslint --cache --fix

use node cache again
  .github/workflows/docker_ci.yml
Due: none

create .env file always
  .github/workflows/deploy.yml
Due: none

remove ALL node caches
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

clean up worklfows caching steps
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

🧽 clean up docker_ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
Due: none

🧽 clean up node_ci workflow
  .github/workflows/node_ci.yml
Due: none

🧽 clean up deploy.yml workflow
  .github/workflows/deploy.yml
Due: none

test entire CI/CD
  .github/workflows/branch.yml
  .github/workflows/deploy.yml
Due: none

fix broken npm install command
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

remove --ignore script npm install flag
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

bump up to actions/setup-node@v3
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

fix CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

install e2e test packages too
  package.json
Due: prettier --write

add node_modules cache
  .github/workflows/branch.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

add node_modules cache
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
Due: none

trim down docker_ci jobs
  .github/workflows/docker_ci.yml
  resources/development/other/PORTFOLIO_SITE/TODO.txt
  resources/development/other/PORTFOLIO_SITE/blog_article.md
  resources/development/other/PORTFOLIO_SITE/projects/woofer/woofer-logo.png
  resources/development/other/PORTFOLIO_SITE/projects/woofer/woofer.md
Due: prettier --write

publish to Docker in CI step
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
Due: none

yml typo
  .github/workflows/docker_ci.yml
Due: none

add Docker Login step before publish
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
Due: none

kill running docker containers
  .github/workflows/branch.yml
  .github/workflows/deploy.yml
Due: none

complete workflow refactors
  .github/CODEOWNERS
  .github/workflows/branch.yml
  .github/workflows/node_ci.yml
Due: none

speed up GitHub Actions (#45)
  .github/CODEOWNERS
  .github/workflows/branch.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  package.json
  resources/development/other/PORTFOLIO_SITE/TODO.txt
  resources/development/other/PORTFOLIO_SITE/blog_article.md
  resources/development/other/PORTFOLIO_SITE/projects/woofer/woofer-logo.png
  resources/development/other/PORTFOLIO_SITE/projects/woofer/woofer.md
  resources/development/other/docker-run -scripts.sh
  server/src/app.js
  server/src/controllers/zipcodes/index.js
Due: prettier --write, eslint --cache --fix

reorganize resources folder
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/EXCALIDRAW_LINKS.md
  resources/assets/CI_CD_PIPELINE.png
  resources/assets/Project_Deployment.png
  resources/development/other/docker-run -scripts.sh
Due: prettier --write

✨ improve README
  README.md
Due: prettier --write

tweak docker kill script to not exit
  .github/workflows/deploy.yml
Due: none

improve README (#46)
  .github/workflows/deploy.yml
  README.md
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/EXCALIDRAW_LINKS.md
  resources/assets/CI_CD_PIPELINE.png
  resources/assets/Project_Deployment.png
Due: prettier --write

update README badges
  README.md
Due: prettier --write

add new resources used
  resources/development/resources.md
Due: prettier --write

add code analysis workflow
  .github/workflows/code-analysis.md
  .github/workflows/codeql-analysis.yml
Due: prettier --write

add Trello Ticket screenshot
  README.md
  resources/assets/Trello_Board_Tickets.png
Due: prettier --write

create code analysis workflow (#49)
  .github/workflows/code-analysis.md
  .github/workflows/codeql-analysis.yml
Due: prettier --write

save useful resources (#48)
  README.md
  resources/assets/Trello_Board_Tickets.png
  resources/development/resources.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
