Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,json,md}": [
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix",
  "*.{js,md}": "prettier --write"
}

fix controller file imports
  server/constants/dataKeys.js
  server/src/controllers/chats/deleteChatroom/index.js
  server/src/controllers/chats/fetchUserChats/index.js
  server/src/controllers/chats/generateChatRoomId/index.js
  server/src/controllers/chats/removeUserFromChat/removeUserFromChat.test.js
  server/src/controllers/signup/index.js
  server/src/controllers/zipcodes/addZipCodeToProfile/index.js
  server/src/routes/profileRoutes/index.js
  server/src/routes/zipcodesRoutes/index.js
Due: prettier --write, eslint --cache --fix

test removeUserFromChat controller helper
  client/constants/dataKeys.js
  client/src/__mocks__/currentUser.js
  server/src/controllers/chats/removeUserFromChat/removeUserFromChat.test.js
  server/src/models/modelHelpers.js
Due: prettier --write, eslint --cache --fix

write failing controller tests
  server/src/controllers/chats/removeUserFromChat/removeUserFromChat.test.js
  server/src/controllers/profile/getUserProfile/getUserProfile.test.js
Due: prettier --write, eslint --cache --fix

PASS getUserProfile controller tests
  client/constants/dataKeys.js
  client/src/__mocks__/currentUser.js
  client/src/components/ui/MatchMadePopup/MatchMadePopup.test.js
  resources/development/other/admin/TempAdminSignup/users.json
  resources/development/other/database_seeding/seeding_users.json
  server/constants/dataKeys.js
  server/src/controllers/profile/getUserProfile/getUserProfile.test.js
  server/src/controllers/profile/getUserProfile/index.js
  server/tests/utils/test-setup.js
Due: prettier --write, eslint --cache --fix

test getFullUserProfile controller
  client/constants/dataKeys.js
  client/src/__mocks__/currentUser.js
  client/src/__mocks__/mockUser.js
  server/constants/dataKeys.js
  server/src/controllers/profile/getFullUserProfile/getFullUserProfile.test.js
  server/src/controllers/profile/getFullUserProfile/index.js
  server/src/models/DogUser/index.js
  server/tests/utils/mockUsers.js
Due: prettier --write, eslint --cache --fix

test modelHelpers
  server/src/controllers/chats/removeUserFromChat/removeUserFromChat.test.js
  server/src/models/modelHelpers/index.js
  server/src/models/modelHelpers/modelHelper.test.js
Due: prettier --write, eslint --cache --fix

test addUserToChat controller helper
  server/src/controllers/chats/addUserToChat/addUserToChat.test.js
  server/src/models/modelHelpers/index.js
  server/src/models/modelHelpers/modelHelper.test.js
  server/tests/utils/test-helpers.js
Due: prettier --write, eslint --cache --fix

pass removeUserFromChat controller helper tests
  server/src/controllers/chats/removeUserFromChat/index.js
  server/src/controllers/chats/removeUserFromChat/removeChatFromList/index.js
  server/src/controllers/chats/removeUserFromChat/removeChatFromList/removeChatFromList.test.js
  server/src/controllers/chats/removeUserFromChat/removeUserFromChat.test.js
Due: prettier --write, eslint --cache --fix

work on fixing integration tests
  client/src/api/account/mockUser.js
  server/config/config.js
  server/config/jest.setup.js
  server/src/app.js
  server/src/controllers/chats/generateChatRoomId/generateChatRoomId.test.js
  server/src/controllers/chats/removeUserFromChat/removeChatFromList/removeChatFromList.test.js
  server/src/controllers/zipcodes/index.js
  server/src/models/modelHelpers/index.js
  server/src/routes/zipcodesRoutes/index.js
  server/tests/profile.test.js
  server/tests/profile/details.test.js
  server/tests/profile/update.test.js
  server/tests/profile/user.test.js
  server/tests/status.test.js
  server/tests/utils/test-helpers.js
Due: prettier --write, eslint --cache --fix

rewrite WOOFER_API documentation
  resources/WOOFER_API.md
Due: prettier --write

added new challenges to resrouces folder
  resources/challenges.txt
Due: none

updated setup and forking guides
  resources/FIREBASE_SETUP.md
  resources/REPOSITORY_FORKING_GUIDE.md
  resources/REPOSITORY_SECRETS.md
  resources/WOOFER_SETUP_GUIDE.md
Due: prettier --write

link new files in README
  README.md
Due: prettier --write

test fetchMatchStatus controller
  server/src/controllers/matches/OLDindex.js
  server/src/controllers/matches/fetchMatchQueue/index.js
  server/src/controllers/matches/fetchMatchStatus/fetchMatchStatus.test.js
  server/src/controllers/matches/fetchMatchStatus/index.js
  server/src/controllers/matches/fetchPossibleMatch/index.js
  server/src/controllers/matches/index.js
  server/src/controllers/matches/saveUserSwipeChoice/index.js
Due: prettier --write, eslint --cache --fix

write failing fetchMatchQueue controller test
  server/src/controllers/matches/fetchMatchQueue/fetchMatchQueue.test.js
Due: prettier --write, eslint --cache --fix

pass fetchMatchQueue tests
  server/src/controllers/matches/fetchMatchQueue/index.js
  server/src/controllers/matches/fetchMatchStatus/index.js
Due: prettier --write, eslint --cache --fix

delete old MATCH controllers
  server/src/controllers/matches/OLDindex.js
  server/src/controllers/matches/fetchPossibleMatch/temp.js
  server/src/controllers/matches/saveUserSwipeChoice/temp.js
Due: prettier --write, eslint --cache --fix

create failing tests for generateMatchStatus controller helper
  server/src/controllers/matches/gatherMatchStatus/gatherMatchStatus.test.js
Due: prettier --write, eslint --cache --fix

pass tests for generateMatchStatus controller helper
  server/src/controllers/matches/gatherMatchStatus/index.js
Due: prettier --write, eslint --cache --fix

write failing tests for updateSwipeRecord controller helper
  server/src/controllers/matches/updateSwipeRecord/updateSwipeRecord.test.js
Due: prettier --write, eslint --cache --fix

pass tests for updateSwipeRecord controller helper
  server/src/controllers/matches/updateSwipeRecord/index.js
Due: prettier --write, eslint --cache --fix

write failing tests for isMutualMatch helper
  server/src/controllers/matches/saveUserSwipeChoice/isMutualMatch/isMutualMatch.test.js
Due: prettier --write, eslint --cache --fix

pass tests for isMutualMatch helper
  server/src/controllers/matches/saveUserSwipeChoice/isMutualMatch/index.js
Due: prettier --write, eslint --cache --fix

test the saveUserSwipeChoice controller
  server/src/controllers/matches/saveUserSwipeChoice/saveUserSwipeChoice.test.js
Due: prettier --write, eslint --cache --fix

test MATCH controllers
  server/src/controllers/chats/addUserToChat/addUserToChat.test.js
  server/src/controllers/chats/createNewChat/index.js
  server/src/controllers/chats/deleteChatroom/index.js
  server/src/controllers/chats/fetchUserChats/index.js
  server/src/controllers/matches/documentUserSwipeAccept/handleFirstTimeAccept.js
  server/src/controllers/matches/documentUserSwipeAccept/handleMutualAccept.js
  server/src/controllers/matches/documentUserSwipeAccept/index.js
  server/src/controllers/matches/documentUserSwipeReject/index.js
  server/src/controllers/matches/fetchMatchQueue/index.js
  server/src/controllers/matches/fetchMatchStatus/index.js
  server/src/controllers/matches/gatherMatchStatus/gatherMatchStatus.test.js
  server/src/controllers/matches/gatherMatchStatus/index.js
  server/src/controllers/matches/saveUserSwipeChoice/index.js
  server/src/controllers/matches/saveUserSwipeChoice/saveUserSwipeChoice.test.js
  server/src/controllers/matches/saveUserSwipeChoice/temp.js
  server/src/controllers/profile/deleteUserProfile/index.js
  server/src/controllers/profile/getFullUserProfile/index.js
  server/src/controllers/profile/getUserProfile/index.js
  server/src/controllers/profile/updateUserProfile/index.js
  server/src/controllers/signup/index.js
Due: prettier --write, eslint --cache --fix

write fiailing tests for match controllers
  server/src/controllers/controllerHelpers/documentUserSwipeAccept/documentUserSwipeAccept.test.js
  server/src/controllers/controllerHelpers/documentUserSwipeAccept/handleFirstTimeAccept.js
  server/src/controllers/controllerHelpers/documentUserSwipeAccept/handleMutualAccept.js
  server/src/controllers/controllerHelpers/documentUserSwipeAccept/index.js
  server/src/controllers/controllerHelpers/documentUserSwipeReject/documentUserSwipeReject.test.js
  server/src/controllers/controllerHelpers/documentUserSwipeReject/index.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/fetchBothUserMatchRecords.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/fetchZipPoolUsers.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/fetchZipPoolUsers.test.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/index.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/pickRandomUserFromPool.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/validateUserMatchRecords.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/helpers/validateUserPreferences.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/index.js
  server/src/controllers/controllerHelpers/randomUserFromZipPool/randomUserFromZipPool.test.js
  server/src/controllers/matches/accumulateZipPoolUsers/index.js
  server/src/controllers/matches/fetchPossibleMatch/fetchPossibleMatch.test.js
  server/src/controllers/matches/fetchPossibleMatch/index.js
  server/src/controllers/matches/fetchPossibleMatch/temp.js
  server/src/controllers/matches/gatherPreviosUserMatches/gatherPreviosUserMatches.test.js
  server/src/controllers/matches/gatherPreviosUserMatches/index.js
  server/src/controllers/matches/gatherUserMatchQueue/index.js
  server/src/controllers/matches/generateMoreQueueMatches/generateMoreQueueMatches.test.js
  server/src/controllers/matches/generateMoreQueueMatches/index.js
  server/src/controllers/zipcodes/addZipCodeToProfile/addZipCodeToProfile.test.js
  server/src/controllers/zipcodes/addZipCodeToProfile/index.js
  server/src/controllers/zipcodes/userToZipPoolDoc/index.js
  server/src/controllers/zipcodes/userToZipPoolDoc/userToZipPoolDoc.test.js
Due: prettier --write, eslint --cache --fix

pass broken user profile update tests
  server/src/controllers/zipcodes/addZipCodeToProfile/index.js
  server/src/controllers/zipcodes/removeZipCodeFromProfile/addZipCodeToProfile.test.js
  server/src/controllers/zipcodes/removeZipCodeFromProfile/index.js
  server/src/models/index.js
  server/src/models/modelHelpers/modelHelper.test.js
  server/tests/matches/generate.test.js
Due: prettier --write, eslint --cache --fix

pass all backend tests again
  server/config/constants.js
  server/constants/dataKeys.js
  server/constants/databaseSchema.js
  server/constants/endpointRoutes.js
  server/constants/index.js
  server/src/controllers/zipcodes/addUserZipCode/index.js
  server/src/controllers/zipcodes/removeUserZipCode/index.js
  server/src/routes/index.js
  server/src/routes/matchesRoutes/index.js
  server/src/routes/profileRoutes/index.js
  server/src/utils/verifyEndpointRequest/index.js
  server/src/utils/verifyEndpointRequest/verifyEndpointRequest.test.js
  server/src/utils/verifyEndpointResponse/index.js
  server/src/utils/verifyEndpointResponse/verifyEndpointResponse.test.js
  server/src/utils/verifyKeyDataType.js
  server/tests/a.signup.test.js
  server/tests/matches/generate.test.js
  server/tests/matches/queue.test.js
  server/tests/matches/swipe.test.js
  server/tests/profile.test.js
  server/tests/utils/mockUsers.js
  server/tests/utils/test-helpers.js
  server/tests/zipcodes.test.js
Due: prettier --write, eslint --cache --fix

add gender checks to matches generate controller
  server/src/controllers/matches/generateMoreQueueMatches/index.js
Due: prettier --write, eslint --cache --fix

fix zipcode pool addition controller
  server/src/controllers/zipcodes/addUserZipCode/addUserZipCode.test.js
  server/src/controllers/zipcodes/addUserZipCode/index.js
Due: prettier --write, eslint --cache --fix

add linter fixes
  client/constants/dataKeys.js
  client/constants/databaseSchema.js
  client/constants/endpointRoutes.js
  client/src/__mocks__/currentUser.js
  client/src/api/account/index.js
  client/src/api/chats/index.js
  client/src/api/zipcodes/index.js
  client/src/components/pages/ChatListPage/ChatList/ChatList.js
  client/src/components/pages/ChatPage/SampleChat/SampleChat.js
  client/src/components/pages/ProfilePage/Profile/ImagesTab/ImagesTab.js
  client/src/components/pages/SettingsPage/SettingsForm/ProfilePictureField.js
  client/src/components/ui/AccountFormWrapper/AccountFormWrapper.js
  client/src/context/AuthContext/mockUser.js
Due: prettier --write, eslint --cache --fix

pass match swipe integration test
  server/tests/matches/swipe.test.js
Due: prettier --write, eslint --cache --fix

add emojis to CI workflow
  .github/workflows/node_ci.yml
Due: none

add emojis to CI workflow
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

rename deleteChatRoom folder
  server/src/controllers/chats/deleteChatRoomNEW/index.js
Due: prettier --write, eslint --cache --fix

rename deleteChatRoom folder
  server/src/controllers/chats/deleteChatRoom/index.js
Due: prettier --write, eslint --cache --fix

install only server packages for CI
  .github/workflows/node_ci.yml
Due: none

downgrade broken node version for sever CI
  .github/workflows/code-analysis.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none
