Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,json,md}": [
    "prettier --write"
  ],
  "*.js": "eslint --cache --fix",
  "*.{js,md}": "prettier --write"
}

add seperate dev build for e2e testing
  client/Dockerfile.dev
  client/package.json
  client/webpack.ci.config.js
Due: prettier --write, eslint --cache --fix

use Docker.dev for end-to-end testing
  .github/workflows/end_to_end.yml
  .github/workflows/node_ci.yml
Due: none

client tweaks for image file alert
  client/src/api/firebase/index.js
  client/src/components/UserInfo/UserInfo.js
  client/src/components/pages/SettingsPage/SettingsForm/ProfilePictureField.js
  server/src/app.js
Due: prettier --write, eslint --cache --fix

edit persistent alert message error
  client/src/components/pages/HomePage/MissingInfoWarning/MissingInfoWarning.js
Due: prettier --write, eslint --cache --fix

remove TEMP production push
  .github/workflows/productionTEMP.yml
Due: none

test production workflow
  .github/workflows/prodTemp.yml
Due: none

fix broken createNotif reference
  client/src/api/status/index.js
Due: prettier --write, eslint --cache --fix

test production workflow
  .github/workflows/production.yml
Due: none

remove temporary production workflow on dev branch
  .github/workflows/prodTemp.yml
  .github/workflows/production_restart.yml
Due: none

fix CORS error in production (#87)
  .github/workflows/end_to_end.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  .github/workflows/production_restart.yml
  client/Dockerfile.dev
  client/package.json
  client/src/api/firebase/index.js
  client/src/api/status/index.js
  client/src/components/UserInfo/UserInfo.js
  client/src/components/pages/HomePage/MissingInfoWarning/MissingInfoWarning.js
  client/src/components/pages/SettingsPage/SettingsForm/ProfilePictureField.js
  client/webpack.ci.config.js
  client/webpack.dev.config.js
  server/src/app.js
Due: prettier --write, eslint --cache --fix

add Heroku deployment workflow
  .github/workflows/branch.yml
  .github/workflows/production.yml
  .github/workflows/redeploy.yml
  server/config/config.js
Due: prettier --write, eslint --cache --fix

modify profile contents for Heroku build
  .github/workflows/branch.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  client/.dockerignore
  server/.dockerignore
Due: none

test only heroku deploy workflow
  .github/workflows/branch.yml
Due: none

update redeploy workflow
  .github/workflows/redeploy.yml
Due: none

update README instructions
  README.md
Due: prettier --write

remove manual port for Heroku start
  .github/workflows/branch.yml
  .github/workflows/production.yml
  .github/workflows/redeploy.yml
Due: none

tweak heroku deployment
  .github/workflows/branch.yml
  package.json
  server/Procfile
Due: prettier --write

remove subdir to app
  .github/workflows/branch.yml
Due: none

remove subdir to app
  .github/workflows/branch.yml
  server/Procfile
Due: none

create Procfile again
  server/Procfile
Due: none

use process.env.PORT for server
  server/src/index.js
Due: prettier --write, eslint --cache --fix

add node engine to package.json
  server/package.json
Due: prettier --write

remove broken dotenv package in production
  server/config/config.js
Due: prettier --write, eslint --cache --fix

add missing joi dependency
  server/package-lock.json
  server/package.json
Due: prettier --write

remove broken config for server
  server/config/config.js
Due: prettier --write, eslint --cache --fix

use prefix HD_ for heroku env
  .github/workflows/production.yml
Due: none

revert .dotenv
  server/config/config.js
  server/package-lock.json
  server/package.json
Due: prettier --write, eslint --cache --fix

revert .dotenv
  .github/workflows/branch.yml
  .github/workflows/production.yml
Due: none

revert .dotenv
  .github/workflows/branch.yml
Due: none

update config settings
  .github/workflows/branch.yml
  .github/workflows/production.yml
  .github/workflows/production_restart.yml
  server/config/config.js
Due: prettier --write, eslint --cache --fix

update config settings
  .github/workflows/branch.yml
Due: none

test production deployment
  .github/workflows/branch.yml
  .github/workflows/production copyTEMP.yml
  .github/workflows/production.yml
Due: none

add npm caching to workflows
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

use npm cache for temp workflow
  .github/workflows/production copyTEMP.yml
Due: none

yml typo
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production copyTEMP.yml
  .github/workflows/production.yml
Due: none

yml typo
  .github/workflows/node_ci.yml
  .github/workflows/production copyTEMP.yml
Due: none

remove temporary workflow
  .github/workflows/production copyTEMP.yml
  client/Dockerfile
Due: none

delete broken docker files
  server/.dockerignore
Due: none

delete broken docker files
  client/.dockerignore
Due: none
