Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

add EC2 public ip address link
  README.md
Due: prettier --write

refactor env file access for client Docker image
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  client/Dockerfile
  client/src/config/firebase.js
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  resources/development/other/docker-run -scripts.sh
  resources/development/other/ec2_setup.sh
  resources/ec2_setup.sh
Due: prettier --write, eslint --cache --fix

coverage upload in NODE CI
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  client/webpack.dev.config.js
  client/webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

modify webpack env variable access
  .github/workflows/branch.yml
  client/package-lock.json
  client/package.json
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  codecov.yml
Due: prettier --write, eslint --cache --fix

tweak docker building args configuration
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  client/Dockerfile
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  docker-compose.yml
Due: prettier --write, eslint --cache --fix

pass env as args for docker client build
  .env.sample
  client/package-lock.json
  client/package.json
  client/src/config/firebase.js
  client/webpack.prod.config.js
  resources/development/other/docker_client_run.sh
Due: prettier --write, eslint --cache --fix

handle .env file for Client build CI
  .github/workflows/node_ci.yml
Due: none

working production EC2 deployment (#56)
  .env.sample
  .github/workflows/branch.yml
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/webpack.dev.config.js
  client/webpack.prod.config.js
  codecov.yml
  docker-compose.yml
  resources/REPOSITORY_SECRETS.md
  resources/development/other/docker-run -scripts.sh
  resources/development/other/docker_client_run.sh
  resources/development/other/ec2_setup.sh
Due: prettier --write, eslint --cache --fix

use Codacy to upload code coverage
  .env.sample
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  resources/REPOSITORY_SECRETS.md
  resources/WOOFER_WHITEPAPER.pdf
  server/package.json
Due: prettier --write

use lcov.info for coverage reports
  .github/workflows/node_ci.yml
Due: none

clean up node_ci workflow file
  .github/workflows/node_ci.yml
Due: none

pass down secrets to workflow
  .github/workflows/branch.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

code coverage w/ Codacy (#58)
  .env.sample
  .github/workflows/branch.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
  README.md
  resources/REPOSITORY_SECRETS.md
  resources/WOOFER_WHITEPAPER.pdf
  server/package.json
Due: prettier --write

use path to docker file in prod
  .github/workflows/production.yml
Due: none

fix Docker login step
  .github/workflows/production.yml
Due: none

fix ec2 verification workflow
  .github/workflows/production.yml
Due: none

return all workflowo actions
  .github/workflows/production.yml
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

fix docker Publishing error (#59)
  .github/workflows/production.yml
  resources/EC2_SETUP_WALKTHROUGH.md
Due: prettier --write

add build args for env variables for client Docker image
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
  resources/REPOSITORY_SECRETS.md
  resources/development/other/docker_client_run.sh
  resources/development/other/docker_env.sh
Due: prettier --write

reference env variables in production workflow
  .github/workflows/production.yml
Due: none

reference env variables in production workflow
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
Due: none

add challenges to README
  README.md
  resources/challenges.txt
Due: prettier --write

add coverage comment to PR
  .github/workflows/node_ci.yml
  resources/challenges.txt
Due: none

test updated .env creation in production
  .github/workflows/docker_ci.yml
  .github/workflows/node_ci.yml
  .github/workflows/production.yml
Due: none

fix curl command typo
  .github/workflows/production.yml
Due: none

modify comment step for node_ci
  .github/workflows/node_ci.yml
Due: none

fix node_ci working direcory error
  .github/workflows/node_ci.yml
Due: none

remove coverage comment
  .github/workflows/node_ci.yml
Due: none

fix docker ci workflow
  .github/workflows/docker_ci.yml
  .github/workflows/production.yml
Due: none

fix docker ci workflow
  .github/workflows/docker_ci.yml
Due: none

test production workflow
  .github/workflows/production.yml
Due: none

revert to running ALL workflow jobs
  .github/workflows/production.yml
Due: none

test env file tweak production
  .github/workflows/production.yml
Due: none

only test last steps
  .github/workflows/production.yml
Due: none

test ec2 deploy script
  .github/workflows/production.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
