Repository spencerlepine/woofer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

test ONLY deploy workflow temporarily
  .github/workflows/branch_check.yml
Due: none

limit deploy workflow steps to debug
  .github/workflows/deploy.yml
Due: none

restrat docker in workflow deplyoment
  .github/workflows/deploy.yml
Due: none

test sample script in EC2 connection
  .github/workflows/deploy.yml
Due: none

test deploy action without passphrase
  .github/workflows/deploy.yml
Due: none

attempt different port for ssh
  .github/workflows/deploy.yml
Due: none

uncomment full EC2 deploy workflow script
  .github/workflows/deploy.yml
Due: none

avoid restarting docker daemon in workflow;
  .github/workflows/deploy.yml
Due: none

stop containers from running in workflow
  .github/workflows/deploy.yml
Due: none

force remove running container
  .github/workflows/deploy.yml
Due: none

remove EC2 deployment for branches
  .github/workflows/branch_check.yml
  Dockerfile
Due: none

AWS EC2 deployment (#34)
  .dockerignore
  .github/workflows/PULL_REQUEST_TEMPLATE.md
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  jsconfig.json
  package.json
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/EXAMPLE_SECRETS.md
  resources/development/EC2_setup.md
  resources/development/GitHubActions_Deploy_Article.md
  resources/development/challenges.txt
  resources/development/docker_commands.sh
  resources/development/ec2_setup.sh
  resources/development/ec2_startup.sh
  resources/development/refreshDockerContainer.sh
  resources/development/resources.txt
  server/src/app.js
  server/src/controllers/profile/getUserProfile/index.js
  server/src/utils/handleErrorResponse.js
  server/tests/profile.test.js
  webpack.dev.config.js
  webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

remove duplicate docker rm command in workflow
  .github/workflows/deploy.yml
Due: none

update express.static path serving client files
  server/src/app.js
Due: prettier --write, eslint --cache --fix

organize docker build script resources
  Dockerfile
  resources/development/refreshDockerContainer.sh
  resources/development/ubuntu_EC2_scripts/bootup_ec2.sh
  resources/development/ubuntu_EC2_scripts/dockerRefreshDev.sh
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  resources/development/ubuntu_EC2_scripts/setup_ec2.sh
  server/src/app.js
Due: prettier --write, eslint --cache --fix

edit nginx configuration ports
  .env.sample
  Dockerfile
  nginx/nginx.default.conf
  nginx/old.ngix.conf
  resources/development/alternate.docker-compose.yml
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
Due: none

new proxy nginx config
  .github/workflows/build.yml
  Dockerfile
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.default.conf
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/development/ubuntu_EC2_scripts/bootup_ec2.sh
  resources/development/ubuntu_EC2_scripts/dockerRefreshDev.sh
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  resources/development/ubuntu_EC2_scripts/setup_ec2.sh
Due: prettier --write

build working ngnix + node server Docker containers
  docker-compose.yml
  nginx/nginx.default.conf
Due: none

create working docker-compose build
  nginx/old.ngix.conf
Due: none

attempt docker dev image build in GitHub actions
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

branch check worklow yml typo
  .github/workflows/branch_check.yml
Due: none

build worklow yml typo
  .github/workflows/build.yml
Due: none

build dev image and test deploy in workflow
  .github/workflows/branch_check.yml
Due: none

build and push nginx image to DockerHub
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  docker-compose.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

undo IGNORING build folder in docker image
  .dockerignore
  Dockerfile
  docker-compose.yml
  resources/development/server.docker-compose.yml
  resources/development/ubuntu_EC2_scripts/dockerRefreshDev.sh
  resources/development/ubuntu_EC2_scripts/setup_ec2.sh
Due: none

remove seperate NGINX DockerHub image
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  resources/EXAMPLE_SECRETS.md
Due: prettier --write

tweak server CORS option
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  server/src/app.js
Due: prettier --write, eslint --cache --fix

modify server CORS policy
  nginx/Dockerfile
  nginx/nginx.default.conf
  resources/development/ubuntu_EC2_scripts/docker_commands.sh
  server/src/app.js
Due: prettier --write, eslint --cache --fix

git clone on EC2 deployment
  .github/workflows/branch_check.yml
  .github/workflows/deploy.yml
Due: none

update EC2 setup instructions
  resources/EC2_SETUP_WALKTHROUGH.md
  resources/development/EC2_Issues.md
Due: prettier --write

copy sample env file for ci/cd
  .github/workflows/build.yml
Due: none

avoid pushing to DockerHub
  .github/workflows/build.yml
Due: none

refactor with seperate Dockerfiles
  OLD_Dockerfile
  client/Dockerfile
  docker-compose.yml
  resources/development/challenges.txt
  server/Dockerfile
Due: none

seperate client packages and config
  client/.babelrc
  client/.eslintignore
  client/.eslintrc
  client/.lintstagedrc
  client/.prettierrc
  client/coverage/base.css
  client/coverage/block-navigation.js
  client/coverage/coverage-final.json
  client/coverage/favicon.png
  client/coverage/index.html
  client/coverage/lcov-report/base.css
  client/coverage/lcov-report/block-navigation.js
  client/coverage/lcov-report/favicon.png
  client/coverage/lcov-report/index.html
  client/coverage/lcov-report/prettify.css
  client/coverage/lcov-report/prettify.js
  client/coverage/lcov-report/sort-arrow-sprite.png
  client/coverage/lcov-report/sorter.js
  client/coverage/lcov.info
  client/coverage/prettify.css
  client/coverage/prettify.js
  client/coverage/sort-arrow-sprite.png
  client/coverage/sorter.js
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/webpack.dev.config.js
  client/webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

delete old config files
  .babelrc
  .eslintignore
  .eslintrc
  .github/workflows/branch_check.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .lintstagedrc
  .prettierrc
  OLD_Dockerfile
  jest.config.js
  package-lock.json
  package.json
  webpack.dev.config.js
  webpack.prod.config.js
Due: prettier --write, eslint --cache --fix

put lintstaged in root folder
  .lintstagedrc
  server/.lintstagedrc
Due: none

delete coverage folder
  .gitignore
  client/coverage/base.css
  client/coverage/block-navigation.js
  client/coverage/coverage-final.json
  client/coverage/favicon.png
  client/coverage/index.html
  client/coverage/lcov-report/base.css
  client/coverage/lcov-report/block-navigation.js
  client/coverage/lcov-report/favicon.png
  client/coverage/lcov-report/index.html
  client/coverage/lcov-report/prettify.css
  client/coverage/lcov-report/prettify.js
  client/coverage/lcov-report/sort-arrow-sprite.png
  client/coverage/lcov-report/sorter.js
  client/coverage/lcov.info
  client/coverage/prettify.css
  client/coverage/prettify.js
  client/coverage/sort-arrow-sprite.png
  client/coverage/sorter.js
Due: prettier --write, eslint --cache --fix

remove broken ESModule constant exports
  client/src/config/constants.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,md})
  eslint --cache --fix: any of: *.js
